<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Milele. All rights reserved.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, dolores quae. Modi harum, impedit odio obcaecati est iusto nemo inventore deleniti quibusdam similique aut pariatur voluptate distinctio, nesciunt aliquid dolorum.</p>
        <p >Follow us on:
            <div class="footer-link">
            <a style="text-decoration: none; color: white;" href="https://www.linkedin.com/in/abid-ullah-64a6bb261/" target="_blank">LinkedIn <span style="color: lightblue;" class="fab fa-linkedin"></span></a>
            <a style="text-decoration: none; color: white;" href="https://github.com/abidfazal" target="_blank">GitHub <span class="fab fa-github"></span></a>
            <a style="text-decoration: none; color: white;" href="#" target="_blank">Instagram <span class="fab fa-instagram"></span></a>
            </div></p>
    </div>
</footer>