<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Milele. All rights reserved.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, dolores quae. Modi harum, impedit odio obcaecati est iusto nemo inventore deleniti quibusdam similique aut pariatur voluptate distinctio, nesciunt aliquid dolorum.</p>
        <p >Follow us on:
            <a style="text-decoration: none; color: white;" href="https://twitter.com/myapp" target="_blank">Twitter <span class="fab fa-twitter"></span></a>,
            <a style="text-decoration: none; color: white;" href="https://facebook.com/myapp" target="_blank">Facebook <span class="fab fa-facebook"></span></a>,
            <a style="text-decoration: none; color: white;" href="https://instagram.com/myapp" target="_blank">Instagram <span class="fab fa-instagram"></span></a>
        </p>
    </div>
</footer>