<header>
    <div class="navAndLogo">
        <div class="logo_div">
            {% load static %}
            <a href="#"><img src="{% static 'logo/logo.webp' %}" alt="Logo" class="navLogo" width="20px" height="20px"></a>
        </div>
    <nav class="header_nav">
        <a href="#">home</a>
        <a href="#">About Us</a>
        <a href="{% url 'add_item' %}">Orders</a>
        <a href="#">Carreer</a>
        <a href="#">Cart</a>
    </nav>
    <div style="display: flex;  gap: 10px;">
        <p><a href="#"  class="login">Login</a></p>
        <p><a href="#" class="register">Register</a></p>

    </div>
    </div>
</header>